# Map

In [3]:
lst1=[1,2,3,4,5,6]

In [4]:
def square(num):
    return num*num

In [5]:
square(5)

25

In [6]:
lst2=list(map(square,lst1))

In [7]:
lst2

[1, 4, 9, 16, 25, 36]

# Filter

In [8]:
lst=list(range(5,500))

In [9]:
def even(num):
    if(num%2==0):
        return True
    else:
        return False

In [11]:
even(8)

True

In [12]:
even(5)

False

In [13]:
lsteven=list(filter(even,lst))

In [14]:
lsteven

[6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498]

# lambda expression

In [15]:
def cube(n):
    return n*n*n

In [16]:
cube(9)

729

In [17]:
cube1=lambda b : b*b*b

In [18]:
cube1(9)

729

In [19]:
even = lambda num : num%2==0

In [20]:
even(5)

False

In [21]:
even(8)

True

In [25]:
lstt=[5,8,9,4,6]
lsttt=list(filter(lambda num:num%2==0,lstt))
lsttt

[8, 4, 6]

In [26]:
lst5=[8,9,4,1,2]
lst6=list(map(lambda n:n*n*n*n,lst5))
lst6

[4096, 6561, 256, 1, 16]

# OOPs

In [1]:
class speakerDetails():
    def __init__(self, brand, srno, speakerWatts, price, color ):
        self.brand = brand
        self.srno = srno
        self.speakerWatts = speakerWatts
        self.price = price
        self.color = color

    def methodToPrint(self):
        print(self.brand, self.srno, self.speakerWatts, self.price, self.color)

In [2]:
boat = speakerDetails("Boat", "Boat123", "10W", "Rs.2000", "Blue")

In [3]:
boat.methodToPrint()

Boat Boat123 10W Rs.2000 Blue

In [4]:
p = speakerDetails("Philips", "Phi05", "50W", "Rs.5000", "Red")

In [5]:
p.methodToPrint()

Philips Phi05 50W Rs.5000 Red